@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /*my code*/
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*my code*/
.header{
  display: flex;
  padding:8px;
  justify-content: space-between;
}

/*my code*/
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*my code*/
.footer{
  display: flex;
  background-color: lightgrey;
  padding:8px; 
  justify-content: space-between;
} 


/*my code -- remove list bullets and space around items*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: flex;
  gap: 24px;
}

/*my code -- remove text decoration from links*/
a:link { 
  text-decoration: none; 
}

a {
  color: grey;
}


